# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


[*.cs]
dotnet_diagnostic.RCS0044.severity = none
dotnet_diagnostic.RCS0012.severity = none
dotnet_diagnostic.RCS0036.severity = none
dotnet_diagnostic.RCS1223.severity = none

dotnet_diagnostic.RCS1007.severity = none

